<div class="tables-container">
  <div
    class="actions"
    style="display: flex; justify-content: space-between; margin-bottom: 16px"
  >
    <div style="display: flex; gap: 8px; align-items: center">
      <nz-select [(ngModel)]="selectedCategory" style="width: 120px">
        <nz-option [nzValue]="0" nzLabel="All"></nz-option>
        <nz-option
          *ngFor="let category of categories$ | async"
          [nzValue]="category.id"
          [nzLabel]="category.category_name"
        >
        </nz-option>
      </nz-select>
      <button nz-button (click)="applyFilter()">Apply Filter</button>
    </div>
    <button nz-button nzType="primary" (click)="openDrawer()">
      Add Product
    </button>
  </div>
  <nz-table
    #productsTable
    [nzData]="(products$ | async)!"
    [nzLoading]="productsLoading$ | async"
    [nzPageSize]="5"
    class="equal-table"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>Name</th>
        <th>Description</th>
        <th>Category Id</th>
        <th>Quantity</th>
        <th>Size</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of productsTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.brand }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.product_category_id }}</td>
        <td>{{ data.quantity }}</td>
        <td>{{ data.size }}</td>
        <td>
          <a (click)="delete(data.id, data.product_category_id)">Delete</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="onEdit(data.id, data.product_category_id)">Edit</a>
        </td>
      </tr>
      <tr
        *ngFor="
          let empty of [].constructor(5 - (productsTable.data?.length || 0));
          let i = index
        "
      >
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </nz-table>
  <nz-table
    #categoriesTable
    nzSize="small"
    [nzData]="(categories$ | async)!"
    [nzLoading]="productsLoading$ | async"
    [nzPageSize]="3"
    nzShowPagination="false"
    class="half-width-table"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Category Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of categoriesTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.category_name }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
<nz-drawer
  [nzVisible]="drawerVisible"
  [nzWidth]="600"
  nzTitle="Product Form"
  [nzClosable]="true"
  (nzOnClose)="closeDrawer()"
>
  <ng-container *nzDrawerContent>
    <nz-spin [nzSpinning]="productLoading$ | async">
      <form nz-form [formGroup]="productForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">Brand</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="Please input brand">
            <input nz-input formControlName="brand" placeholder="Brand" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6">Name</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="Please input name">
            <input nz-input formControlName="name" placeholder="Name" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6">Description</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="Please input description">
            <textarea
              nz-input
              formControlName="description"
              placeholder="Description"
              [nzAutosize]="{ minRows: 3, maxRows: 5 }"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6">Image</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="Please select an image">
            <div class="upload-container">
              <input
                type="file"
                accept="image/*"
                (change)="onFileSelected($event)"
                style="display: none"
                #fileInput
              />
              <button nz-button (click)="fileInput.click()">
                <i nz-icon nzType="upload"></i>
                Upload Image
              </button>
              <span *ngIf="imageName" class="ml-2">{{ imageName }}</span>
            </div>
            <div *ngIf="imageUrl" class="mt-2">
              <img [src]="imageUrl" style="max-width: 200px; max-height: 200px" />
            </div>
          </nz-form-control>
        </nz-form-item>        
        <nz-form-item>
          <nz-form-label [nzSpan]="6">Price</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="Please input valid price">
            <nz-input-number
              formControlName="price"
              [nzMin]="0"
              [nzStep]="0.01"
              [nzPrecision]="2"
              style="width: 100%"
            ></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6">Quantity</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="Please input quantity">
            <nz-input-number
              formControlName="quantity"
              [nzMin]="0"
              [nzStep]="1"
              style="width: 100%"
            ></nz-input-number>
          </nz-form-control>
        </nz-form-item>

        <!-- Size -->
        <nz-form-item>
          <nz-form-label [nzSpan]="6">Size</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="Please select size">
            <nz-select formControlName="size">
              <nz-option nzValue="S" nzLabel="S"></nz-option>
              <nz-option nzValue="M" nzLabel="M"></nz-option>
              <nz-option nzValue="L" nzLabel="L"></nz-option>
              <nz-option nzValue="XL" nzLabel="XL"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <!-- Category -->
        <nz-form-item>
          <nz-form-label [nzSpan]="6">Category</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="Please input category">
            <nz-select formControlName="category">
              <nz-option nzValue="1" nzLabel="shirt"></nz-option>
              <nz-option nzValue="2" nzLabel="paint"></nz-option>
              <nz-option nzValue="3" nzLabel="dress"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <!-- Submit Button -->
        <div style="text-align: right">
          <button
            nz-button
            nzType="primary"
            [disabled]="!productForm.valid"
            (click)="submitForm()"
          >
            Submit
          </button>
          <button nz-button nzType="default" (click)="closeDrawer()">
            Cancel
          </button>
        </div>
      </form>
    </nz-spin>
  </ng-container>
</nz-drawer>